# setuptools_scm will grab all tracked files, minus these exclusions,
# so we only need to exclude tracked files we don't want in an sdist
prune .vscode
prune .github

# include this to allow for texting
recursive-include csrc *.c *.h *.cpp *.hpp *.cu *.cuh

global-exclude *~ *.py[cod] *.so
